<div class="checkbox schema-form-checkbox {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess()}">
  <label class="{{form.labelHtmlClass}}" data-trigger="hover" placement="auto right" data-content="{{form.popover}}">
    <span class="glyphicon glyphicon-info-sign" ng-show="{{form.popover}}"></span>
    <input type="checkbox"
           sf-changed="form"
           ng-disabled="form.readonly"
           sf-field-model
           schema-validate="form"
           class="{{form.fieldHtmlClass}}"
           name="{{form.key.slice(-1)[0]}}">
    <span ng-bind-html="form.title" ng-if="!form.notitle"></span>
    <span ng-if="form.feedback !== false"
          class="form-control-feedback"
          ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-warning-sign': hasWarning() }"
          aria-hidden="true"></span>

  </label>
  <div class="help-block" sf-message="form.description"></div>
</div>
