<div  class="schema-form-array {{::form.htmlClass}}"
      ng-class="{{::form.ngClass}}"
      sf-field-model="sf-new-array"
      sf-new-array>
  <button
    class="btn btn-default"
    type="button"
    data-toggle="modal"
    data-target="#measurementModal{{::form.key.join('')}}">
      {{::form.i18n.insertDataBtn || 'insert data'}}
  </button>

  <div id="measurementModal{{::form.key.join('')}}" class="modal fade" tabindex="-1" measurements>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{::form.i18n.modalTitle || 'please insert data for'}}: {{form.title}}</div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div id="measurementContainer{{::form.key.join('')}}">
              <ol class="list-group" sf-field-model ui-sortable="form.sortOptions">
                <li class="list-group-item measurement {{::form.fieldHtmlClass}}"
                    schema-form-array-items
                    sf-field-model="ng-repeat"
                    ng-repeat="item in $$value$$ track by $index">
                </li>
              </ol>
              <div class="clearfix" style="padding: 15px;" ng-model="modelArray" schema-validate="form">
                <div class="help-block"
                     ng-show="(hasError() && errorMessage(schemaError())) || form.description"
                     ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description">
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="resetBtn{{::form.key.join('')}}" class="btn btn-default" type="button" ng-click="reset(form)">{{::form.i18n.resetDataBtn || 'reset'}}</button>
          <button class="btn btn-default" type="button" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
</div>
