<div  class="schema-form-relation {{form.outerClass}}"
      ng-class="{{form.ngClass}}"
      sf-field-model="sf-relation"
      sf-relation>
    <label class="control-label" ng-show="showTitle()">{{ form.title }}</label>
    <div ng-if="records.length === 0"> Keine Verknüpfungen gefunden </div>
    <div ng-if="records.length > 0" class="{{form.htmlClass}}" ng-repeat="record in records">
      <div ng-click="editRecord(record)" ng-include="'types/' + recordTitle + '/recordRepresentation.html'"
        class="{{form.innerClass}}">
      </div>
    </div>
</div>
